.modal-content {
    width: 80%;
    margin: 0 auto;
}

.modal-body {
    padding: 0;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
}

.myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgb(255, 255, 255);
}

@media (max-width: 576px) {
    .myform {
        max-width: 90%;
        margin: 0 auto;
    }
}

.form-control:focus {
    box-shadow: inset 0 -1px 0 #ffffff;
}

.form-control {
    background-color: white;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

.myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
}

.myform .btn:hover {
    background-color: white;
    color: #fff;
    border-color: #fff;
}

p {
    text-align: center;
    padding-top: 2em;
    color: rgb(255, 255, 255);
}

p a {
    color: #e1e1e1;
    text-decoration: none;
}

p a:hover {
    color: #fff;
}
.collapsible {
    background-color: rgb(255, 255, 255);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: rgb(255, 255, 255);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}